
h1 {
    color:rgb(221, 222, 200);
    font-family:'Bebas Neue', cursive;
    text-align: center;
}

p {  
    color: rgb(221, 222, 200);
    font-family: 'Arial', sans-serif;
}

.początkowa {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "text text . .";

    background-size: cover;
    background-position: center;
}
.początkowa_text {
    grid-area: text;
     padding: 120px;
    color: white;
    font-size: 20px;
    text-align: justify;
}
 .tekst_p {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "text image";

    gap: 30px;
    width: 95%;
    margin: 20px auto;
    font-size: 20px; 
    
 }

 .tekst_l {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "image text";

    gap: 30px;
    width: 95%;
    margin: 20px auto;
    font-size: 20px;
 }

 .image {
    grid-area: image;
    background-image: url('Grafika/Neil_Druckmann.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
 }

.button {
   color: rgb(136, 156, 173);
   text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    background-position: center;
    background-size: cover;
   border-radius: 12px;
   padding: 150px 100px;
   text-decoration: none;
   margin: 10px 15px;
   transition-duration: 0.4s;
   width: 550px; height:550px;
   border: 3px solid rgb(0, 0, 0);
   cursor: pointer;
        }

        .button:hover{
            color: rgb(50, 67, 49);
            transition-duration: 0.1;
        }

.postacie_button {
   color: rgb(221, 222, 200);
   text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    background-position: center;
    background-size: cover;
   border-radius: 12px;
   padding: 150px 100px;
   text-decoration: none;
   margin: 10px 15px;
   width: 400px; height:550px;
   border: 2px solid rgb(50, 67, 49);
   cursor: pointer;
   transition-duration: 0.4s; 
        }

        .postacie_button:hover{
            color: rgb(255, 255, 255);
            transition-duration: 0.4s;   
        }

    .nav {
        color: white;
        border-radius: 12px;
        font-family: 'Verdana', 'sans-serif';
        background-color: rgb(50, 67, 49);
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid rgb(0, 0, 0);
    }
        .nav:hover {
            background-color: rgb(58, 58, 58);
            transition-duration: 0.3s;
        }

    .fabuła_container {
    gap: 30px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    min-height: 400px;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
    }

    .fabuła_container p {
    line-height: 1.6;
    margin: 0;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
    }

    .fabuła_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    width: 95%;
    margin: 20px auto;
    }



    .spore {
    fill: rgba(255,255,255,0.5);
    animation: float 6s infinite ease-in-out;
}

.s1 { animation-delay: 0s; }
.s2 { animation-delay: 2s; }
.s3 { animation-delay: 4s; }
.s4 { animation-delay: 1s; }

@keyframes float {
    0% {
        transform: translateY(0px);
        opacity: 0.2;
    }

    50% {
        transform: translateY(-40px);
        opacity: 1;
    }

    100% {
        transform: translateY(-80px);
        opacity: 0;
    }
}

.fanart_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    width: 95%;
    margin: 40px auto;
}

.fanart_lewa {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.fanart_prawa {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: rgb(221, 222, 200);
   font-family: 'Arial', sans-serif;
}

.fanart_image {
    width: 70%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}


.fanart_form {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(221, 222, 200);
    font-family: 'Arial', sans-serif;
}

.fanart_form input,
.fanart_form textarea {

    padding: 5px;
    font-size: 16px;
}

.fanart_form button,
.file_upload::file-selector-button {
    padding: 6px;
    font-size: 15px;
    background-color: rgb(50, 67, 49);
    color: rgb(221, 222, 200);
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

    .footer {
    text-align: center;
    background-color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    font-size: 20px;
}