
h1 {
    color:rgb(221, 222, 200);
    font-family:'Bebas Neue', cursive;
    text-align: center;
}

p {  
    color: rgb(221, 222, 200);
    font-family: 'Arial', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "text text . .";

    grid-area: image;
     background-image: url('Grafika/web_glowna.jpg');
    background-size: cover;
    background-position: center;
}
.text {
    grid-area: text;
     padding: 20px;
    color: white;
    font-size: 20px;
    text-align: justify;
}


.button {
   color: rgb(58, 58, 58);
   text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    background-position: center;
    background-size: cover;
   border-radius: 12px;
   padding: 150px 100px;
   text-decoration: none;
   margin: 10px 15px;
   transition-duration: 0.4s;
   width: 400px; height:400px;
        }

        .button:hover{
            color: rgb(4, 56, 39);
            background-color: rgb(145, 100, 4);
            transition-duration: 0.1;
        }

    .nav {
        color: white;
        border-radius: 12px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(58, 58, 58);
        border: 3px solid rgb(221, 222, 200);
        margin: 10px;
        padding: 10px 20px;
    }
        .nav:hover {
            background-color: rgb(0, 0, 0);
            transition-duration: 0.3s;
        }

    .fabuła_container {
    gap: 30px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    min-height: 400px;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
    }

    .fabuła_container p {
    line-height: 1.6;
    margin: 0;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
    }

    .fabuła_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    width: 95%;
    margin: 20px auto;
    }

    .footer {
    text-align: left;
    padding: 10px;
    background-color: rgb(58, 58, 58);
}