
h1 {
    color:rgb(221, 222, 200);
    font-family:'Bebas Neue', cursive;
    text-align: center;
    font-size: 3rem;
}

p {  
    color: rgb(221, 222, 200);
    font-family: 'Arial', sans-serif;
}

.początkowa {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "text .";

    background-size: cover;
    background-position: center;
    height: 45vw
}
.początkowa_text {
    grid-area: text;
     padding: 10%;
    color: white;
    font-size: 2rem;
    text-align: justify;
}
 .tekst_p {
    display: grid;
    grid-template-columns: 80% 30%;

    gap: 20px;
    width: 95%;
    margin: 20px auto;
    font-size: 22px; 
    
 }

 .tekst_l {
    display: grid;
    grid-template-columns: 20% 80%;

    gap: 30px;
    width: 95%;
    margin: 20px auto;
    font-size: 22px;
 }

.button {
   color: rgb(255, 255, 255);
   text-align: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    background-position: center;
    background-size: cover;
   border-radius: 12px;
   padding: 150px 100px;
   text-decoration: none;
   margin: 10px 15px;
   transition-duration: 0.4s;
   width: 30vw; height:40vw;
   min-width: 300px; min-height: 300px;
   border: 3px solid rgb(0, 0, 0);
   cursor: pointer;
   text-shadow: 2px 2px 6px black;
        }

        .button:hover{
            color: rgb(50, 67, 49);
            transition-duration: 0.1s;
        }

.postacie_button {
   color: rgb(221, 222, 200);
   text-align: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    background-position: center;
    background-size: cover;
   border-radius: 12px;
   padding: 150px 100px;
   text-decoration: none;
   margin: 10px 15px;
   width: 30vw; height: 35vw;
   min-width: 200px; min-height: 300px;
   border: 2px solid rgb(50, 67, 49);
   cursor: pointer;
   transition-duration: 0.4s; 
        }

        .postacie_button:hover{
            color: rgb(255, 255, 255);
            transition-duration: 0.4s;   
        }

    .nav {
        color: white;
        border-radius: 12px;
        font-family: 'Verdana', 'sans-serif';
        background-color: rgb(50, 67, 49);
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid rgb(0, 0, 0);
    }
        .nav:hover {
            background-color: rgb(58, 58, 58);
            transition-duration: 0.3s;
        }

    .fabuła_container {
    gap: 30px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    min-height: 500px;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
    }

    .fabuła_container p {
    line-height: 1.8;
    margin: 0;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
    }

    .fabuła_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    width: 95%;
    margin: 20px auto;
    }



    .spore {
    fill: rgba(255,255,255,0.5);
    animation: float 6s infinite ease-in-out;
}

.s1 { animation-delay: 0s; }
.s2 { animation-delay: 2s; }
.s3 { animation-delay: 4s; }
.s4 { animation-delay: 1s; }

@keyframes float {
    0% {
        transform: translateY(0px);
        opacity: 0.2;
    }

    50% {
        transform: translateY(-40px);
        opacity: 1;
    }

    100% {
        transform: translateY(-80px);
        opacity: 0;
    }
}

.fanart_grid {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    width: 95%;
    margin: 40px auto;
}

.fanart_lewa {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.fanart_prawa {
   display: flex;
   flex-direction: column;
   justify-content: left
   color: rgb(221, 222, 200);
   font-family: 'Arial', sans-serif;
}

.fanart_image {
    max-width: 400px;
    height: 20vw;
    object-fit: cover;
    border-radius: 12px;
}


.fanart_form {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(221, 222, 200);
    font-family: 'Arial', sans-serif;
}

.fanart_form input,
.fanart_form textarea {

    padding: 8px;
    font-size: 16px;
}

.fanart_form button,
.file_upload::file-selector-button {
    padding: 6px;
    font-size: 15px;
    background-color: rgb(50, 67, 49);
    color: rgb(221, 222, 200);
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

    .footer {
    text-align: center;
    background-color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    font-size: 20px;
}